.popup {
  padding: 15px;
  border-radius: 5px;
}

p {
  margin: 0.35em;
  color: black;
}

h3 {
  margin: 0.5em;
  color: black;
}

.popup-content {
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
