.want-to-cooke__recipeListWrapper {
  background-color: #d4ffee;
  margin-top: 0;
}

.want-to-cooke__recipeListWrapper h2 {
  margin: 0;
  padding: 20px;
}

.want-to-cooke__recipeListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  background-color: #d4ffee;
  gap: 20px;
  width: 100%;
  margin-top: 0;
  padding: 0 0 20px;
}
