.recipeListWrapper {
  background-color: pink;
  margin-top: 0;
}

.recipeListWrapper h2 {
  margin: 0;
  padding: 20px;
}

.recipeListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  margin-top: 0;
  padding: 0 0 20px;
}
